.bg-danger{
    background-color: $danger;
}
.bg-primary{
    background-color: $primary;
}
.bg-success{
    background-color: $success;
}
.bg-info{
    background-color: $info;
}
.bg-secondary{
    background-color: $secondary;
}



