.btn-auth {
    width: 55px;
    cursor: pointer;
}

.auth_menu {
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    z-index: 1;
    border-radius: 15px;
    border: 1px solid #ddd;
    margin-top: 10px;
}